# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Clion Temporary files
*.xml
*.idea
CMakeLists.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

minisql
tags
Makefile.test
test.cc
data/*
!data/.gitkeep
